*.log

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.las
*.a

# Visual Studio
*.suo
*.user
Debug
Release
*.sdf
*.opensdf

#Winddk
objchk*
*.wrn